## .NET
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
*.snupkg
packages/

## Logs
*.log

## OS
Thumbs.db
.DS_Store

## Cursor
.cursorrules

## Installer outputs
*.msi
*.wixpdb
*.wixobj
*.cab
.wix/
